In [2]:
#knn_iris.ipynb
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,minmax_scale
from sklearn.neighbors import KNeighborsClassifier

1- problem tanımı ve veri seti oluşturma.** 

2- başarım ölçüsü ne olacak.

3- verileri hazırlama

4- makine öğrenmesi modelinin oluşturulması.(hangi model.)

5- modelin değerlendirilmesi.

6- Aşırı uydurma sorununu çözme.

7- Model değerlerinin genelleme için ayarlanması.

In [5]:
veri = pd.read_csv("/home/serkan/Belgeler/yillar/2022-2023/bilsem22_23/2022-oyg2-a2/yapay_zeka/iris.csv")

In [6]:
veri

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [7]:
type(veri)
# sklearn, keras, tensorflow v.b. kütüphaneler verileri ndarray tipinde yani numpy yapısında işlerler.
# eğer pandas ile veri işlemlerinizi bitti ise veri işlenmek(makine öğrenmesi için) ndarray yapısına çevirilir.

pandas.core.frame.DataFrame

In [15]:
# ilk önce ilk 4 sütun öznitelik değerlerini X adlı bir değişkene aktarıyoruz.
X = veri.iloc[:,0:4].values
print(type(X))
# print(X)
print(X.ndim)

<class 'numpy.ndarray'>
2

In [16]:
y = veri.iloc[:,4].values
print(y.ndim)
print(type(y))

1
<class 'numpy.ndarray'>

In [23]:
# veri setimizi öznitelikler(X) ve hedefler/sınıflar(y) olarak 2 ye ayırdık.
# burada verileri 2 parçaya ayıracağız.
# eğitim ve test
# genelde eldeki veri miktarına bağlı olarak %80 eğitim %20 test verisi ayrılır
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=22)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(120, 4)
(120,)
(30, 4)
(30,)

In [35]:
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train,y_train)
skor = knn.score(X_test,y_test)
print(skor)

0.9666666666666667

In [42]:
# sepal_length	sepal_width	petal_length	petal_width
cicek1=np.array([[3.3,2.1,3.1,0.4]])
print(cicek1.shape)
tahmin = knn.predict(cicek1)
print(tahmin)

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (3567755633.py, line 2)